.holiday_list
  .container
    %table.table.table-bordered
      %thead
        .holiday_heading
          Birthday
        %tr.danger.h_col
          %th Name
          %th B'day Date
          %th Department
          %th Designation
      - @users.each do |user|
        %tbody
          %tr.success
            %td
              = user.emp_name
            %td
              = user.dob.strftime("%d %b")
            %td
              = user.department
            %td
              = user.designation