*	{
	margin: 0;
	padding: 0;
	}
html, body	{
	height: 100%;
	}
body	{
	background: #fff;
	color: #393939;
	font-family: Arial;
	/*font-size: 0px;*/
	}

.styletd{
   /*background: url('../images/forms/bg.gif') center top;*/
   /*width:100%;*/
   background-color: #333333;
   color: #FFFFFF;
    height: 39px
}

.headstyletd {
font-size: 13px;
color: #d3d3d3;
font-weight: bold;
text-align: left;
/*margin: 0 0 0 10px;*/
margin: 5px;
}

.heading {
font-size: 13px;
border-bottom: 1px solid #92B22C;
color: #92B22C;
background: url('../images/forms/icon_plus.gif') no-repeat right center;; margin-left:0; margin-right:0; margin-top:0; margin-bottom:1em; padding-left:0; padding-right:30px; padding-top:.4em; padding-bottom:.4em}

.whitebig{
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
}

.changepass	{
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin: 10px 2px 0 2px;
	}

#page-top-outer	{
	background: url('../images/shared/top_bg.jpg') repeat-x top center;
	/*border-bottom: 1px solid #7e7e7e;*/
	/*height: 92px*/
	height: 62px
	}
#page-top	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	position: relative;
	}
#logo	{
	float: left;
	/* margin: 45px 0 0 15px; */
	margin: 15px 0 0 15px;
	}
#logo	a	{
	display: block;
	}
#top-search	{
	display: inline;
	float: right;
	position: relative;
	/* margin: 46px 20px 0 0; */
	margin: 15px 20px 0 0;
	z-index: 20;
	}
	
 
.top-search-inp	{
	background: url('../images/shared/top_search_inp.gif') no-repeat;
	border: medium none;
	color: #fff;
	font-size: 12px;
	height: 23px;
	width: 164px; padding-left:10px; padding-right:6px; padding-top:6px; padding-bottom:0
	}
.green{
	color: #719C27;
}
	
	
	
#content-outer	{
	background: url('../images/shared/content_repeat.jpg') repeat-x;
	}
#content	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0 auto;
	max-width: 1260px;
	min-width: 780px;
	padding: 35px 0px 30px 0px;
	}
#content-inner	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
	}
#content-table	{
	font-size: 0px;
	line-height: 0px;
	}
#content-table th.sized	{
	height: 15px;
	width: 15px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	line-height: 0px;
	}
 
	
#content-table-inner	{
	font-size: 12px;
	line-height: 12px;
	padding: 10px 0 20px 0;
	}
#tbl-border-top	{
	background: url('../images/shared/border_bit.jpg') repeat-x top;
	line-height: 0;font-size: 0px;
	height: 15px
	}
#tbl-border-bottom	{
	background: url('../images/shared/border_bit.jpg') repeat-x bottom;
	line-height: 0;font-size: 0px;
	height: 15px
	}
#tbl-border-left	{
	background: url('../images/shared/border_bit.jpg') repeat-y left;
	}
#tbl-border-right	{
	background: url('../images/shared/border_bit.jpg') repeat-y right;
	}
#table-content	{
	line-height: 16px;
	margin: 0 10px 10px 10px;
	min-height: 300px;
	}
	
.topleft {
background: url('../images/shared/corner_top_left.jpg') no-repeat;
width:15px;
height:15px
	
}	
.topright {
background: url('../images/shared/corner_top_right.jpg') no-repeat;
width:15px;
height:15px
	
}	

.bottomleft {
background: url('../images/shared/corner_bottom_left.jpg') no-repeat;
width:15px;
height:15px
	
}	
.bottomright {
background: url('../images/shared/corner_bottom_right.jpg') no-repeat;
width:15px;
height:15px
	
}	

#page-heading	{
	margin: 0 0 15px 20px;
	}
  h1	{
	color: #4b4b4b;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
	}
h2	{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
	}
h3	{
	color: #92b22c;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
	}
	
	
/* MESSAGES --------------------------------------------------------------- */	
#message-yellow	{
	margin-bottom: 5px;
	}
.yellow-left	{
	background: url('../images/table/message_yellow.gif') no-repeat top left;
	color: #e79300;
	font-family: Tahoma;
	font-weight: bold;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}
.yellow-left a	{
	color: #e79300;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.yellow-right a	{
	cursor: pointer;
	}
.yellow-right	{
	width: 55px;
	}
#message-blue	{
	margin-bottom: 5px;
	}
.blue-left	{
	background: url('../images/table/message_blue.gif') no-repeat top left;
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: bold;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}
.blue-left a	{
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.blue-right a	{
	cursor: pointer;
	}
.blue-right	{
	width: 55px;
	}
#message-red	{
	margin-bottom: 5px;
	}
.red-left	{
	background: url('../images/table/message_red.gif') no-repeat top left;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}
.red-left a	{
	color: #ce2700;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.red-right a	{
	cursor: pointer;
	}
.red-right	{
	width: 55px;
	}
#message-green	{
	margin-bottom: 5px;
	}
.green-left	{
	background: url('../images/table/message_green.gif') no-repeat top left;
	color: #6da827;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}
.green-left a	{
	color: #6da827;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.green-right a	{
	cursor: pointer;
	}
.green-right	{
	width: 55px;
	}	
	
	
	
	
	
	
	
	
a.icon-1	{
	background: url('../images/table/table_icon_1.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px; margin-left:0; margin-right:8px; margin-top:0; margin-bottom:0
	}
a:hover.icon-1	{
	background: url('../images/table/table_icon_1.gif') 0 -24px;
	}
a.icon-2	{
	background: url('../images/table/table_icon_2.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px; margin-left:0; margin-right:8px; margin-top:0; margin-bottom:0
	}
a:hover.icon-2	{
	background: url('../images/table/table_icon_2.gif') 0 -24px;
	}
a.icon-3	{
	background: url('../images/table/table_icon_3.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px; margin-left:0; margin-right:8px; margin-top:0; margin-bottom:0
	}
a:hover.icon-3	{
	background: url('../images/table/table_icon_3.gif') 0 -24px;
	}
a.icon-4	{
	background: url('../images/table/table_icon_4.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px; margin-left:0; margin-right:8px; margin-top:0; margin-bottom:0
	}
a:hover.icon-4	{
	background: url('../images/table/table_icon_4.gif') 0 -24px;
	}
a.icon-5	{
	background: url('../images/table/table_icon_5.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px
	}
a:hover.icon-5	{
	background: url('../images/table/table_icon_5.gif') 0 -24px;
	}
	
a.icon-6	{
	background: url('../images/table/table_icon_6.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	margin:0px 5px 0px 0px;
	}
a:hover.icon-6	{
	background: url('../images/table/table_icon_6.gif') 0 -24px;
	}
	
#tooltip	{
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;
	}
#tooltip h6, #tooltip div	{
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	}
#product-table	{
	margin-bottom: 20px;
	font-size: 12px;
    line-height: 14px;	
	}
.cis{
	font-size: 12px;
    line-height: 14px;	
}
#product-table	td a	{
	color: #393939;
	}
#product-table	td a:hover	{
	text-decoration: underline;
	}
#product-table	th	{
	height: 50px;
	text-align: left;
	}
#product-table	.minwidth-1	{
	min-width: 110px;
	}
#product-table td	{
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
	}
#product-table tr.alternate-row	{
	/*background: #333;*/
	}
#product-table td.alternate-row {
    background: none repeat scroll 0 0 #ECECEC;
}

#product-table tr.alternate-row-high{
    background: url('../images/forms/bg.gif') center top;
    color: #FFFFFF
	}


.blackrow{
    /*background: url("../images/forms/bg.gif") repeat scroll center top transparent;*/
	background: #000000;
    color: #FFFFFF;
    /*height: 39px;*/
	}	

.producttable1 tr.alternate-row-high{
    background: url('../images/forms/bg.gif') center top;
    color: #FFFFFF
	}

.producttable1	{
	/*margin-bottom: 5px;*/
	}
.producttable1	td a	{
	color: #393939;
	}
.producttable1	td a:hover	{
	text-decoration: underline;
	}
.producttable1	th	{
	height: 50px;
	text-align: left;
	}
.producttable1	.minwidth-1	{
	min-width: 110px;
	}
.producttable1 td	{
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
	}
.producttable1 tr.alternate-row	{
	background: #ececec;
	}
	
	
td.options-width	{
	padding: 0 0 0 10px;
	width: 210px;
	}
td.checkbox-width	{
	}
.table-header-check	{
	background: url('../images/table/table_header_checkbox.jpg') no-repeat;
	border: medium none;
	min-width: 29px;
	width: 29px; padding-left:10px; padding-right:0; padding-top:0px; padding-bottom:0
	}
.table-header-options	{
	background: url('../images/table/table_header_options.jpg') no-repeat;
	border: medium none;
	min-width: 221px;
	width: 221px; padding-left:0; padding-right:0; padding-top:0px; padding-bottom:0
	}
.table-header-repeat	{
	background: url('../images/table/table_header_repeat.jpg') repeat-x;
	border: medium none;
	font-size: 0px;
	line-height: 0;
	padding-left:0; padding-right:0; padding-top:0px; padding-bottom:0
	}
.table-header-options a,
 .table-header-repeat a	{
	background: url('../images/table/table_sort_arrow.gif') no-repeat right;
	color: #fff;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin-left:10px; margin-right:0; margin-top:0; margin-bottom:0; padding-left:0; padding-right:10px; padding-top:0; padding-bottom:0
	}
	
	.table-header-options a:hover,
 .table-header-repeat a:hover	{
	
	color:#94b52c
	}
	
th.line-left	{
	border-left: 1px solid #373737;
	}
#product-table	tr.activity-blue	{
	background: #e3eceb;
	}
	
	#toggle-all {
		display: block;
		width: 17px;
		height:17px;
		cursor: pointer;
		background: url('../images/shared/checkbox.gif') 0 -17px;
	}
	
		#toggle-all.toggle-checked {
		display: block;
		width: 17px;
		height:17px;
		background: url('../images/shared/checkbox.gif') 0 0;
	}
	
	
/* TABLES */
.related-activities	{
	line-height: 0;
	width: 100%;
	}
.related-act-top	{
	font-size: 10px;
	background: url('../images/forms/big.jpg') top;	
	height: 43px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight:bold
	}

.related-act-bottom	{
	background: url('../images/forms/bigbottom.gif') no-repeat bottom;
	line-height: 0
	}
.related-act-inner	{
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 100%;
	}
.related-act-inner .left	{
	float: left;
	width: 30px;
	}
.related-act-inner .right	{
	float: left;
	/*width: 195px;*/
	padding: 2px 0 0 0;
	}
.related-act-inner .right h5	{
	color: #393939;
	font-size: 12px;
	}	
	
	

	
	
	
	
	
/*  RELATED ACTIVIES BOX */	

#related-activities	{
	float: right;
	font-size: 0px;
	line-height: 0;
	width: 271px;
	}
#related-act-top	{
	font-size: 10px;
	/*line-height: 10;*/
	background: url('../images/forms/header_related_act.gif') no-repeat top;	
	height: 43px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight:bold
	}

.head{
padding-top:20px;padding-left:22px;
}
#related-act-bottom	{
	background: url('../images/forms/bg_related_act.gif') no-repeat bottom;
	font-size: 0px;
	line-height: 0
	}
#related-act-inner	{
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
	}
#related-act-inner .left	{
	float: left;
	width: 30px;
	}
#related-act-inner .right	{
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
	}
#related-act-inner .right h5	{
	color: #393939;
	font-size: 12px;
	}
ul.greyarrow	{
	list-style-type: none;
	}
ul.greyarrow li	{
	background: url('../images/forms/icon_list_arrow.gif') no-repeat 0 5px;
	line-height: 18px;
	padding-left:12px; padding-right:0; padding-top:0; padding-bottom:0
	}
ul.greyarrow li a	{
	color: #92b22c;
	font-weight: bold;
	}
ul.greyarrow li a:hover	{
	text-decoration: underline;
	}
.lines-dotted-short	{
	background: url('../images/forms/lines_dotted_short.gif') no-repeat 0px 14px;
	font-size: 0px;
	height: 28px;
	line-height: 0
	}
	
/* PAGING --------------------------------------------------------- */	

#paging-table {
	float: right;
	margin: 0 4px 0 0;
}	
.page-far-left	{
	background: url('../images/table/paging_far_left.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px; margin-left:0; margin-right:4px; margin-top:0; margin-bottom:0
	}
.page-left	{
	background: url('../images/table/paging_far_left.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px
	}
.page-far-right	{
	background: url('../images/table/paging_far_right.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px;
	width: 24px
	}
.page-right	{
	background: url('../images/table/paging_far_right.gif') no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px
	}
#page-info	{
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
	}
	
/*  ACTIONS BOX ----------------------------------------------- */	
#actions-box	{
	float: left;
	margin: 0 0 0 10px;
	position: relative;
	}
a.action-slider	{
	background: url('../images/table/dropdown_actions.gif') no-repeat;
	display: block;
	height: 30px;
	width: 110px
	}
a.action-slider.activated	{
	background: url('../images/table/dropdown_actions.gif') no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px
	}
#actions-box-slider	{
	background: url('../images/table/actions_slider_bg.gif') no-repeat bottom;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px
	}
#actions-box-slider-inner	{
	font-size: 0px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
	}
a.action-edit, a.action-delete	{
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
	}
a:hover.action-edit	{
	background: #949494 url('../images/table/action_edit.gif') no-repeat 14px 5px;
	color: #fff
	}
a.action-edit	{
	background: #c7c7c7 url('../images/table/action_edit.gif') no-repeat 14px 5px;
	}
a.action-delete	{
	background: #c7c7c7 url('../images/table/action_delete.gif') no-repeat 14px 5px;
	}
a:hover.action-delete	{
	background: #949494 url('../images/table/action_delete.gif') no-repeat 14px 5px;
	color: #fff
	}
		 
	
/* FORM ------------------------------------------------------- */	
.form-submit	{
	background: url('../images/forms/form_submit.gif') no-repeat;
	border: medium none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	padding: 0;
	text-indent: -3000px;
	width: 80px; margin-left:0; margin-right:4px; margin-top:0; margin-bottom:0
	}
.form-reset	{
	background: url('../images/forms/form_reset.gif') no-repeat;
	border: medium none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	text-indent: -3000px;
	width: 80px
	}
#id-form	{
	}
.inp-form	{
	background: url('../images/forms/form_inp.gif') no-repeat;
	border: medium none;
	color: #393939;
	height: 25px;
 
	width: 186px; padding-left:6px; padding-right:6px; padding-top:6px; padding-bottom:0
	}
	
.inp-form-error	{
	background: url('../images/forms/form_inp_error.gif') no-repeat;
	border: medium none; 
	color: #393939;
	height: 25px;
	width: 187px; padding-left:6px; padding-right:6px; padding-top:6px; padding-bottom:0
	}
.form-textarea	{
	background: url('../images/forms/form_textarea.gif') no-repeat;
	border: medium none;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 97px;
	overflow: auto;
	width: 378px; padding-left:6px; padding-right:6px; padding-top:6px; padding-bottom:0
	}
#id-form td	{
	padding: 0 0 10px 0;
	}
#id-form td.noheight	{
	padding: 0 0 0px 0;
	}
#id-form th	{
	line-height: 28px;
	min-width: 130px;
	padding: 0 0 10px 0;
	text-align: left;
	width: 130px;
	}
.styledselect-day, .styledselect-month, .styledselect-year	{
	border: 1px solid #acacac;
	margin-right: 3px;
	padding: 3px;
	width: 64px;
	}
	
	
#step-holder {
font-family: Tahoma;
	height:39px;
	margin-bottom: 20px;
}	




.step-no {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
}

.step-no-off {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
	color:#cbcbcb;
}

.step-dark-left {
	float:left;
	 
	background: url('../images/forms/step_dark_left.gif') no-repeat;
	height:27px;
	font-size: 13px;
	color:#fff;
	font-weight: bold; padding-left:25px; padding-right:15px; padding-top:13px; padding-bottom:0
}

.step-dark-left a{
	 
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-right {
	float:left;
	width:12px;
	background: url('../images/forms/step_dark_right.gif') no-repeat;
	height:39px
}
.step-dark-round {
	float:left;
	width:8px;
	height:39px;
	background: url('../images/forms/step_dark_round.gif') no-repeat;
}

.step-light-left {
	float:left;
	 	height:27px;
	font-size: 13px;
	background: url('../images/forms/step_light_left.gif') no-repeat;
	height:39px;
	color:#cbcbcb;
	font-weight: bold; padding-left:25px; padding-right:15px; padding-top:13px; padding-bottom:0
}

.step-light-left a{
	 
	 
	font-size: 13px;
 
	color:#cbcbcb;
	font-weight: bold;
}
.step-light-right {
	float:left;
	width:12px;
	background: url('../images/forms/step_light_right.gif') no-repeat;
	height:39px
}
.step-light-round {
	float:left;
	width:8px;
	height:39px;
	background: url('../images/forms/step_light_round.gif') no-repeat;
}

.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 5px;
	background: url('../images/forms/bubble_left.gif') no-repeat;
}

.bubble-inner {
	float:left;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:22px;
	background: url('../images/forms/bubble_inner.gif') repeat-x;; padding-left:2px; padding-right:0px; padding-top:7px; padding-bottom:0
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url('../images/forms/bubble_right.gif') no-repeat right;
}
.error-left {
	float:left;
	width:13px;
	height:32px;
	margin-left: 5px;
	background: url('../images/forms/error_left.gif') no-repeat;
}

.error-inner {
	float:left;
	color:#fff; 
	line-height: 14px;
	height:25px;
	background: url('../images/forms/error_right.gif') no-repeat right;; padding-left:4px; padding-right:10px; padding-top:7px; padding-bottom:0
}
.file_1 {
	border: 1px solid #acacac;
	padding: 5px;
}	
 
/*  NAVIGATION ----------------------------------------------- */
#nav-holder	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 780px;
	text-align: left;
	}
.nav-outer-repeat	{
	background: url('../images/shared/nav/repeat.jpg') repeat-x;
	/*height: 77px*/
	height: 41px	
	}
.nav-outer	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	}
#nav-right	{
	float: right;
	position: relative;
	width: 225px;
	z-index: 0;
	}
#nav-right a	{
	display: block;
	float: left;
	margin: 0px 0 0 0;
	}
.account-content	{
	background: #454545 url('../images/shared/nav/account_drop_bg.gif') no-repeat bottom;
	display: none;
	left: 5px;
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px
	}
.account-drop-inner	{
	font-size: 0px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
	}
.account-drop-inner a	{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}
.account-drop-inner a:hover	{
	color: #94b52c;
	}
.acc-line	{
	background: url('../images/shared/nav/account_line.gif') no-repeat 0 7px;
	font-size: 0px;
	height: 14px;
	line-height: 0px;
	margin-top: 0px;
	padding: 0
	}
a#logout	{
	margin: 10px 0 0 5px;
	}
a#acc-settings	{
	background: url('../images/shared/nav/icon_acc_settings.gif') no-repeat 0 2px;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}
a#acc-details	{
	background: url('../images/shared/nav/icon_acc_personal.gif') no-repeat 0 2px;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}
a#acc-project	{
	background: url('../images/shared/nav/icon_acc_projects.gif') no-repeat 0 2px;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}
a#acc-inbox	{
	background: url('../images/shared/nav/icon_acc_inbox.gif') no-repeat 0 2px;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}
a#acc-stats	{
	background: url('../images/shared/nav/icon_acc_stats.gif') no-repeat 0 2px;
	padding-left:20px; padding-right:0; padding-top:0; padding-bottom:0
	}

/* ================================================================ 
This copyright notice must be untouched at all times. The original version of this stylesheet and the associated (x)html is available at http://www.cssplay.co.uk/menus/pro_dropline.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved. This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
=================================================================== */

.nav	{
	float: left;
	font-family: Tahoma;
	font-size: 13px;
	height: 38px;
	position: relative;
	width: 600px;
	min-width: 600px;
	z-index: 500;
	}
.nav-divider	{
	background: url('../images/shared/nav/divider.jpg') no-repeat top;
	float: left;
	height: 40px;
	width: 15px
	}
.nav .table	{
	display: table;
	}
.nav .select,
.nav .current	{
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
	}
.nav li	{
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	}
.nav .select a	{
	background: url('../images/shared/nav/pro_line_0.gif');
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	text-decoration: none;
	white-space: nowrap; padding-left:20px; padding-right:20px; padding-top:0; padding-bottom:0
	}
.nav .current a	{
	background: url('../images/shared/nav/pro_line_1.gif');
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	text-decoration: none;
	white-space: nowrap; padding-left:10px; padding-right:0; padding-top:0; padding-bottom:0
	}
.nav .current a b	{
	background: url('../images/shared/nav/pro_line_1.gif') right top;
	display: block;
	padding-left:10px; padding-right:20px; padding-top:0; padding-bottom:0
	}
.nav .select a:hover, 
.nav .select li:hover a	{
	background: url('../images/shared/nav/pro_line_1.gif');
	color: #fff;
	cursor: pointer;
	padding-left:10px; padding-right:0; padding-top:0; padding-bottom:0
	}
.nav .select a:hover b, 
.nav .select li:hover a b	{
	background: url('../images/shared/nav/pro_line_1.gif') right top;
	cursor: pointer;
	display: block;
	float: left;
	padding-left:10px; padding-right:20px; padding-top:0; padding-bottom:0
	}
.nav .select_sub	{
	display: none;
	margin: 0 0 0 10px;
	}


.nav .sub li a	{
	background-position: 0% 0%; color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	text-decoration: none;
	white-space: nowrap; padding-left:10px; padding-right:0; padding-top:0; padding-bottom:0; background-color:transparent; background-repeat:repeat; background-attachment:scroll
	}


/* IE6 only */
.nav table	{
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
	}
.nav .sub	{
	display: table;
	list-style: none;
	/* margin: 0 auto; */
	padding: 0;
	}
.nav .sub_active .current_sub a, 
.nav .sub_active a:hover	{
	background: transparent;
	color: #fff;
	}
.nav .select :hover .select_sub, 
.nav .current .show	{
	background: url('../images/shared/nav/back_0.gif');
	 
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 37px;
	width: 750px;
	z-index: 100
	}
.nav .current .show	{
	z-index: 10;
	}
.nav .select :hover .sub li a, 
.nav .current .show .sub li a	{
	background: ;
	border: 0px none;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	display: block;
	float: left;
	margin: 0;
	white-space: nowrap; padding-left:10px; padding-right:10px; padding-top:0; padding-bottom:0
	}
.nav .current .sub li.sub_show a	{
	background: url('../images/shared/nav/menus/back_1.gif');
	color: #94b52c;
	cursor: default
	}
.nav .select :hover .sub li a:hover, 
.nav .current .sub li a:hover	{
	background: url('../images/shared/nav/menus/back_1.gif');
	color: #94b52c;
	visibility: visible
	}
 
	
	
 
 
	
	
/* FOOTER -------------------------------------------------------------- */

 
/*#footer	{
height: 70px;
	 
	margin: 80px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: left;
	min-width: 780px;
	max-width: 1260px;
	}
#footer-left	{
	color: #818181;
	 
	font-size: 11px;
	line-height: 11px;
	margin: 0 20px;
	
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background: url('../images/shared/icon_idlogo.jpg') no-repeat 0 12px;; padding-left:25px; padding-right:0; padding-top:15px; padding-bottom:15px
	} 
#footer-left a	{
	color: #818181;
	text-decoration: none;
	}
#footer-left 	 a.selected,
#footer-left 	 a:hover	{
	color: #000;
	text-decoration: none;
	}*/
	
 
 
 
/* GENERAL --------------------------------------------------------*/ 
 table	{
	border-collapse: collapse;
	}
.fr	{
	float: right;
	}
a	{
	outline: none;
	text-decoration: none;
	}
a:hover	{
	}
.clear	{
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
img	{
	border: 0px none;
	}
p	{
	margin: 0px;
	padding: 0px;
	}
form	{
	margin: 0;
	padding: 0;
	}
.line	{
	border-top: 1px solid #dcdada;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
	}
.font11	{
	font-size: 11px;
	}



 
 
 
 
 
 
 
 
 
 
 
 
 
 
/*  STYLED SELECTBOXES style 1 --------------------------------- */	

.styledselect {
background: #2a2a2a;
border: 1px solid #424242;
	color:#fff;
	width:120px;
	padding: 5px;
	line-height: 14px;
	margin-right: 6px;
	font-size: 12px;
}

div.selectbox-wrapper	{
	background-color: #2a2a2a;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 10;
	}
div.selectbox-wrapper ul	{
	list-style-type: none;
	 
	margin: 0px;
	padding: 0px;z-index: 10;
	}
div.selectbox-wrapper ul li.selected	{
	background-color: 575757;
	color: #fff;
	}
div.selectbox-wrapper ul li.current	{
	background-color: #575757;
	}
div.selectbox-wrapper ul li	{
	border-bottom: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.selectbox_styled	{
	background: url('../images/shared/top_search_select.gif') no-repeat left;
	border: medium none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	margin: 0px;
	text-align: left;
	width: 105px;
	z-index: 10; padding-left:6px; padding-right:0; padding-top:6px; padding-bottom:0
	}

/*  STYLED SELECTBOXES style 2 --------------------------------- */	
div.selectbox-wrapper2	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper2 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected2	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current2	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_form_1	{
	background: url('../images/forms/form_select.gif') no-repeat left;
	border: medium none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px;
	text-align: left;
	width: 192px; padding-left:6px; padding-right:0; padding-top:7px; padding-bottom:0
	}
.styledselect_form_2	{
	background: url('../images/forms/form_select_small.gif') no-repeat left;
	border: medium none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px;
	text-align: left;
	width: 60px; padding-left:10px; padding-right:0; padding-top:7px; padding-bottom:0
	}

	
	
/*  STYLED SELECTBOXES style 3 --------------------------------- */	
div.selectbox-wrapper3	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper3 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper3 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_pages	{
	background: url('../images/table/select_number_rows.gif') no-repeat left;
	border: medium none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	line-height: 16px;
	margin: 0px;
	text-align: left;
	width: 130px; padding-left:6px; padding-right:0; padding-top:4px; padding-bottom:0
	}
	
	
	
	
	
 
	
/* STYLED CHECKBOXES AND RADIOS -------------------------------------------- */	
.ui-radio-state-disabled,
.ui-radio-state-checked-disabled,
.ui-radio-state-disabled-hover,
.ui-radio-state-checked-disabled-hover	{
	color: #999;
	}
span.ui-checkbox,
			span.ui-radio	{
	background: url('../images/shared/checkbox.gif') no-repeat 0 -17px;
	display: block;
	float: left;
	height: 17px;
	width: 17px
	}
span.ui-helper-hidden	{
	display: none;
	}
label	{
	padding: 2px;
	}
span.ui-radio-state-hover,
			span.ui-checkbox-state-hover	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked-hover	{
	background-position: 0 0px;
	}
span.ui-radio-state-checked-disabled-hover,
			span.ui-radio-state-checked-disabled,
			span.ui-radio-state-checked	{
	background-position: 0 -161px;
	}
span.ui-radio-state-checked-hover	{
	background-position: 0 -17px;
	}
label	{
	/*color: red;*/
	line-height: 20px;
	}
.ui-helper-hidden-accessible	{
	left: -999em;
	position: absolute;
	}
	
	
	
	
	
/*  LOGIN -------------------------------------------------------------------------------- */	

#login-bg	{
	background: url('../images/login/login_bg.jpg') no-repeat top center;
	}
#login-holder	{
	margin: 0px auto 0 auto;
	width: 508px;
	}
#loginbox	{
	background: url('../images/login/loginbox_bg.png') no-repeat;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px
	}
#forgotbox	{
	background: url('../images/login/loginbox_bg.png') no-repeat;
	display: none;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px
	}
#login-inner	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 310px;
	}
#login-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	 
	}
 .checkbox-size	{
	width:13px;
	height:13px;
	margin: 5px 0;
	 
	}	
#login-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
	}
#login-inner td	{
	padding: 0 0 6px 0;
	}
.login-inp	{
	background: url('../images/login/inp_login.gif') no-repeat;
	border: medium none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	width: 204px; padding-left:10px; padding-right:6px; padding-top:6px; padding-bottom:0
	}
#logo-login	{
	float: left;
	height: 35px;
	margin: 145px 0 0 15px;
	}
a.forgot-pwd	{
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 40px;
	}
a:hover.forgot-pwd	{
	color: #fff;
	}
#forgotbox-text	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 12px;
	margin: 0 auto 40px auto;
	width: 380px;
	}
#forgot-inner	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 330px;
	}
#forgot-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	}
#forgot-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 110px;
	}
#forgot-inner td	{
	padding: 0 0 6px 0;
	}
a.back-login	{
	background: url('../images/login/icon_back_login.gif') no-repeat 0 4px;
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 40px; padding-left:10px; padding-right:0; padding-top:0; padding-bottom:0
	}
a:hover.back-login	{
	color: #fff;
	}
.submit-login	{
	background: url('../images/login/submit_login.gif') no-repeat;
	border: medium none;
	cursor: pointer;
	display: block;
	height: 29px;
	text-indent: -3000px;
	width: 73px
	}
.submit-login:hover	{
	background: url('../images/login/submit_login.gif') no-repeat 0 -29px;
	}
 
 .promo-row{}
.roundify{border-radius:8px;-khtml-border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.promotion{background:#f0f0f0;border:#e2e2e2 solid 1px;background:url('http://images1tfi.ciscdn.com/style/images/box_tile.png') repeat-x;margin:0 5px 0 0;height:auto;}
.promotion h1{background:url('http://bannertfi.ciscdn.com/style/images/icon_info.png') no-repeat top left;font-size:20px;line-height:20px;color:#000000;padding-left:28px;padding-right:0;padding-top:0;padding-bottom:10px;}
.promotion h1 span{font-size:11px;line-height:20px;color:#A6A6A6;}
.promotion .inner{padding:22px;}
.clear{clear:both;height:1px;}



/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	border:1px solid #d2d2d2;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
	margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
	margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
	content:"";
	border-left:20px solid transparent; border-right:20px solid transparent; border-top:20px solid #999999; border-bottom:0px solid #999999; position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	border-left:13px solid transparent; border-right:13px solid transparent; border-top:13px solid #fff; border-bottom:0px solid #fff; position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	/* reduce the damage in FF3.0 */
    display:block; 
    width:0
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	left:auto;
	right:40px; /* controls horizontal position */
    border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
	top:-13px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	left:auto;
	right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0 ;
	/*
	left:-30px;
	border-width:15px 30px 15px 0 ;	*/
	border-color:transparent #d2d2d2;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top:11px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-29px; /* value = - border-left-width - border-right-width */
	/*border-width:9px 21px 9px 0;*/
	border-width:14px 29px 14px 0;	
	/*border-color:transparent #fff;*/
	border-color:transparent #fff;
	
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
	top:10px; /* controls vertical position */
	bottom:auto;
    left:auto;
	right:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 0 15px 30px;
	border-color:transparent #999999;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
    left:auto;
	right:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 0 9px 21px;
	border-color:transparent #fff;
}

.pagerDB {
font: 9pt/1.5em Arial, Tahoma, Verdana, "Lucida Grande", sans-serif; color: #333;
  clear: both;
}
.pagerDB a, .pagerDB strong.pagerDB-current {
  padding: 0.5em;
}
 div.pagerDB {clear: both; padding: 0 20px; margin-top: 25px;}

 div.pagerDB a {border: 1px solid #ccc; padding: 0.5em; margin: 0 2px; color: #666; font-size:14px;}

div.pagerDB a:hover {border: 1px solid #CCCCCC; padding: 0.5em; margin: 0 2px; color: #fff; font-size:14px; background-color:#CCCCCC; text-decoration:none;}
div.pagerDB strong {border: 1px solid #534d00; padding: 0.5em; font-size:14px; margin: 0 2px; color: #FFFFFF; background-color: #534d00;}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}


.bluebutton{font-weight:bold;text-decoration:none;padding:5px 7px;margin-right:5px;border:1px solid #778;color:white !important;border:1px solid gray;background:#373737;border-radius:8px;box-shadow:3px 3px 4px rgba(0,0,0,.5);-moz-border-radius:8px;-moz-box-shadow:3px 3px 4px rgba(0,0,0,.5);background:-moz-linear-gradient(center top, #309ED2, #373737 25%, #373737 45%, #37373785%, #373737);-webkit-border-radius:8px;-webkit-box-shadow:3px 3px 4px rgba(0,0,0,.5);background:-webkit-gradient(linear, center top, center bottom, from(#373737), color-stop(25%, #373737), color-stop(45%, #373737), color-stop(85%, #373737), to(#373737));}
a.bluebutton:hover{color:#ffffff !important;background:#009933;background:-moz-linear-gradient(center top, #009933, #009933 25%, #009933 45%, #00993385%, #009933);background:-webkit-gradient(linear, center top, center bottom, from(#009933), color-stop(25%, #009933), color-stop(45%, #009933), color-stop(85%, #009933), to(#009933));}

input.newbtn
{
font-size:12px;height:30px;padding:5px;
}

/* Estimation Mesaage Div */
/*.ui-notify { width:350px; position:absolute; top:10px; right:10px; }*/
.ui-notify { width:300px; position:fixed; bottom:10px; right:10px; }
.ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.ui-notify-message h1 { font-size:14px; margin:0; padding:0;text-decoration:underline}
.ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#000; background:rgba(0,0,0,0.8); -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000; box-shadow: 0 0 6px #000; }
.ui-notify-message-style h1 { color:#fff; font-weight:bold }
.ui-notify-message-style p { color:#fff;font-size:12px; }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-click { cursor:pointer }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-cross:hover { color:#ffffab }
.ui-notify-cross:active { position:relative; top:1px }
.msgcls {font-size:18px;color:#FFFFCC;font-weight:bold;} 
.viewclass {color:#fff; text-decoration:underline;}


.dashnoti {background: #FFA700 !important; }


/*Employee Search*/
.search_styletd, .alternate-row-search, .alternate-row-bday {
	background: #333;
}
.alternate-row-search, .alternate-row-bday i {
	color: #d3d3d3;
}
.search_user_image {
	height: 50px;
	width:50px;
}
.employee_search_mail {
  color: #C3862D;
  display: block;
  margin: 5px;
}
.employee_sarch_exp {
	color: #C3862D;
	font-weight: bold;
}

/*header logo*/
#header_logo { margin: 0 0 0 15px; }
#header_logo img { 
	height: 33px;
  margin-left: -45px;
  /*position: fixed;*/
}

/*Updateting header hover text*/

.header_hover_text a:hover{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.024) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.024) !important;
}
.user_text { font-weight: normal !important;}