.inner
  %h1
    %a#header_logo{href: root_path}
      = image_tag "logo.png"
  %nav#nav
    - if user_signed_in?
      %ul
        %li.header_hover_text{style: "white-space: nowrap;"}
          %a{href: root_path} Dashboards
        %li.opener{style: "-moz-user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;"}
          %span Leave & Attendence
          %ul.dropotron.level-0.left{style: "-moz-user-select: none; position: absolute; z-index: 1000; left: 92.9667px; top: 81px; display: none; opacity: 1;"}
            %li{style: "white-space: nowrap;"}
              %a{href: profiles_path, style: "display: block;"} Attendence
            %li.opener{style: "-moz-user-select: none; cursor: pointer; white-space: nowrap;"}
              %span Leave
              %ul.dropotron.level-1{style: "-moz-user-select: none; display: none; position: absolute; z-index: 1001;"}
                %li{style: "white-space: nowrap;"}
                  %a{href: new_leafe_path, style: "display: block;"} Apply Leave
                %li{style: "white-space: nowrap;"}
                  %a{href: "#", style: "display: block;"} My Leave Status
                %li{style: "white-space: nowrap;"}
                  %a{href: holidays_path, style: "display: block;"} Holiday List
        %li.opener{style: "-moz-user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;"}
          %span Employees & Skills
          %ul.dropotron.level-0.left{style: "-moz-user-select: none; position: absolute; z-index: 1000; left: 92.9667px; top: 81px; display: none; opacity: 1;"}
            %li{style: "white-space: nowrap;"}
              %a{href: profiles_path, style: "display: block;"} My Info
            %li{style: "white-space: nowrap;"}
              %a{href: user_birthday_profiles_path(@user), style: "display: block;"} Birthday
            %li{style: "white-space: nowrap;"}
              %a{href: employee_search_profiles_path(@user), style: "display: block;"} Employee directory
        %li.header_hover_text{style: "white-space: nowrap;"}
          = link_to "Log Out", destroy_user_session_path, :method => :delete
    - else
      %ul
        %li.header_hover_text
          = link_to  "Login", new_user_session_path